<div ng-include src="'partials/menu-bar.html'"></div>

<div class="row-fluid">
  <div class="span9 offset3">
    <div class="row-fluid">
      <div class="span12">
        <p class="summary">
          Bethel Church and Bethel Media are located in Redding, California.  Redding is a city in Upstate California, located on
          Interstate 5 halfway between the Mexico and Canada borders, with the Sacramento River coursing through it.  With a population
          of 89,861, Redding is the largest California city north of Sacramento.
        </p>
      </div>
    </div>
    <div class="row-fluid">

      <div class="span4">
        <h4>Bethel Media</h4>
        <p>
          5090 Caterpillar Rd.<br />
          Redding, CA 96003<br />
          <strong>Phone</strong> 530.351.7500<br />
          <strong>Email</strong> <a href="mailto:contact@ibethel.org">Click Here</a>
        </p>
      </div>

      <div class="span4">
        <h4>Bethel Church</h4>
        <p>
          933 College View Dr.<br />
          Redding, CA 96003<br />
          <strong>Phone</strong> 530.246.6000<br />
          <strong>Email</strong> <a href="mailto:contact@ibethel.org">Click Here</a>
        </p>
      </div>

      <div class="span4"></div>
    </div>
  </div>
</div>