<div class="row-fluid" style="background:#ccc">
  <div ng-hide="mobile" class="span3 contact-us">
    <a href="#/contact-us">Contact Us</a>
  </div>
  <div class="span9 apply-now">
    
  </div>
</div>

<div class="row-fluid">
  <div class="span9 offset3">
    <div class="summary">
      <h4>Home</h4>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit velit quis risus mollis elementum. Aenean ut sem urna, a vulputate nisi. Nunc eget eros at turpis posuere fermentum sed nec libero. Duis nec eros a purus aliquam consequat. Duis consequat, nunc tincidunt venenatis pretium, risus velit ultrices lacus, non semper nulla tellus non ipsum. Praesent blandit ante at sem mollis non consectetur justo volutpat. Praesent ultricies fringilla augue, vel feugiat massa dapibus sit amet. Nam nulla elit, hendrerit eu imperdiet eget, dapibus at orci. Nullam orci ante, vulputate vitae porta non, laoreet a erat. Vestibulum eget arcu quis tortor tincidunt eleifend. Phasellus ultrices orci eu erat posuere hendrerit. Integer ultricies feugiat arcu ac tincidunt. In neque leo, suscipit sed placerat in, placerat eu lorem. Suspendisse purus mi, feugiat sagittis malesuada et, aliquet vitae nibh. Aliquam vitae quam id nisl convallis interdum a et erat.
      </p>
      <p>
      Morbi cursus, tortor nec sagittis mollis, mi risus laoreet ligula, vitae eleifend massa odio ac enim. Donec venenatis justo eu neque volutpat sed tristique velit hendrerit. Nunc vitae euismod metus. Donec vulputate, diam sit amet scelerisque bibendum, felis velit aliquam enim, sed fermentum elit urna id mauris. Quisque facilisis nisl non justo aliquet elementum eleifend orci vestibulum. Quisque volutpat ornare arcu in dictum. Nam tincidunt eros nec massa bibendum nec lacinia justo aliquam. Pellentesque vitae lacus sit amet metus eleifend pharetra. Aliquam ac lectus ut libero laoreet varius. Integer ut ipsum ac tortor volutpat ornare. Nullam sed velit at elit lacinia suscipit a a felis. Vestibulum in quam in mi luctus dapibus.
      </p>
    </div>
  </div>
</div>