<div ng-include src="'partials/position-menu.html'"></div>

<div class="row-fluid">
  <div class="span9 offset3">
    <div class="row-fluid">
      <div class="span12">
        <p class="summary">{{ position.summary }}</p>
      </div>
    </div>
    <div class="row-fluid">

      <div class="span4">
        <h4>Required Skills</h4>
        <ul>
          <li ng-repeat="skill in position.skills">{{ skill }}</li>
        </ul>
      </div>

      <div class="span4">
        <h4>Responsible For</h4>
        <ul>
          <li ng-repeat="responsibility in position.responsibilities">{{ responsibility }}</li>
        </ul>
      </div>

      <div class="span4">
        <h4>Qualifications</h4>
        <ul>
          <li ng-repeat="qualification in position.qualifications">{{ qualification }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>