<div class="row">
  <% 6.upto(58).each do |n| %>
    <div class="col col-lg-6">
      <a href="http://goo.gl/4bLE3" title="Purchase on Amazon">
      <img src="/img/book-contents/2nd-edition-print-inside-<%= "%02d" % n %>.png" />
      </a>
    </div>
  <% end %>
</div>