<div class="alert">
  There has been a bit of confusion as to what the book is.
  <a href="/purpose.html">Read About the Purpose here.</a>
</div>
<p>
<strong>A is for Array</strong> is the book for programmers and their successors. Created by a father for his three young children, this beautifully illustrated book will captivate your children and open their eyes to the incredible world of programming.
</p>
<p>
I love to code. I have 3 awesome (young) kids. Before my first one was born, I thought to myself, "I need to figure out a way to use her language to illuminate mine." <strong>A is for Array</strong> was born that day. It has been a few years since then.
</p>
<p>
My kids often come in to my office and each time are greeted with a few pieces of candy and/or snacks. When my oldest daughter was asked what it is that I do, she responded with, "He goes to work and eats candy and plays on his computer." The dream was reawakened.
</p>
<p>
I am sure that many of you guys (and gals) share similar experiences, hearing whispers of "code monkey" and the like from friends, family, and curious coworkers. Well, <strong>A is for Array</strong> is here to save the day.
</p>
<p>
Full of beautiful illustrations illuminating the concepts that programmers work with daily, the book aims to give your loved ones an insight into your world.
</p>