<p>A is for Array is the ABC book for future programmers.  Filled with fun illustrations and simple real-world examples, your children will love seeing your world intertwined with theirs.
</p>
<p>Throughout the book you will find terms from all throughout the world of programming.  From data structures, to function definitions, to design patterns and project management strategies, there is a bit of something for everyone.
</p>
<p>Happy coding!</p>