<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>A is for Array | The ABC book for future coders</title>
    <meta property="og:title" content="A is for Array | The ABC book for future coders"/>
    <meta property="og:type" content="book.book"/>
    <meta property="og:url" content="http://www.aisforarray.com" />
    <meta property="books:isbn" content="1489522212" />
    <meta property="books:rating:value" content="10" />
    <meta property="books:rating:scale" content="10" />
    <meta property="books:rating:normalized_value" content="1.0" />
    <meta property="books:author" content="http://www.aisforarray.com/author-profile.html" />
    <meta property="og:image" content="http://www.aisforarray.com/img/og_image_white.jpg" />
    <meta property="og:site_name" content="A is for Array"/>
    <meta property="fb:admins" content="1439910669"/>
    <meta property="og:description" content="Now updated and revised!  A is for Array is the Childrens's ABC book for programmers and their kids.  Full of colorful illustrations and real-life comparisons, this book is sure to captivate the imagination your programmers-to-be.  Purchase on Amazon http://goo.gl/4bLE3" />
    <link rel="canonical" href="http://www.aisforarray.com" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="container">
      <div id="main" role="main">
        <div class="row">
          <div class="col col-lg-12">
            <h1>
              <a href="/">A is for Array</a>
              <small>ABCs for future coders</small>
            </h1>
          </div>
          <div class="col col-lg-6">
            <%= yield %>
            <% if Date.today >= Date.strptime('06/15/2013', '%m/%d/%Y') %>
              <h5>Available for Purchase on:</h5>
              <a href="http://goo.gl/4bLE3">
                <img src="img/amazon.png" alt="Purchase A is for Array on Amazon" width="120" />
              </a>
            <% else %>
              <h5><strong>Second edition available June 15, 2013.</strong></h5>
            <% end %>

            <p><small>Have Questions, Comments, or Concerns? <a href="mailto:contact@aisforarray.com" data-source-code="Yes, it is bad to put my e-mail in plain text.  Thanks for caring about doing things right.  That will get you far.">Contact Brandon Hansen</a></small></p>
          </div>
          <aside class="col col-offset-1 col-lg-5">
            <h3>Samples from the (revised) Book:</h3>
            <div id="samples">
              <img src="img/2.png" alt="L is for Loop" />
              <img src="img/3.png" alt="Loop Description" />
              <img src="img/4.png" alt="S is for Singleton" />
              <img src="img/5.png" alt="Singleton Description" />
              <img src="img/6.png" alt="Z is for Z-Index" />
              <img src="img/7.png" alt="Z-index Description" />
            </div>
            <%= erb :social %>
          </aside>
        </div>
      </div>
      
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39992348-1', 'aisforarray.com');
    ga('send', 'pageview');
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/app-ck.js"></script>
  </body>
</html>