<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>A is for Array | The Book for Programmers-To-Be</title>
    <meta property="og:title" content="A is for Array | The Book for Programmers-To-Be"/>
    <meta property="og:type" content="book.book"/>
    <meta property="og:url" content="http://www.aisforarray.com" />
    <meta property="books:isbn" content="1489522212" />
    <meta property="books:rating:value" content="10" />
    <meta property="books:rating:scale" content="10" />
    <meta property="books:rating:normalized_value" content="1.0" />
    <meta property="books:author" content="http://www.aisforarray.com/author-profile.html" />
    <meta property="og:image" content="http://www.aisforarray.com/img/og_image_white.jpg" />
    <meta property="og:site_name" content="A is for Array"/>
    <meta property="fb:admins" content="1439910669"/>
    <meta property="og:description" content="A is for Array is the Childrens's ABC book for programmers and their kids.  Full of colorful illustrations and real-life comparisons, this book is sure to captivate the imagination your programmers-to-be.  Purchase on Amazon http://goo.gl/4bLE3" />
    <link rel="canonical" href="http://www.aisforarray.com" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="col col-lg-12">
          <h1>
            <a href="/">A is for Array</a>
            <small>A Novelty ABC Book</small>
          </h1>
        </div>
      </header>
      <div id="main" role="main">
        <div class="row">
          <div class="col col-lg-8">
            <%= yield %>
            <div class="well">
              <h5 class="pull-left">Available for Purchase on:</h5>
              <a href="http://goo.gl/4bLE3" class="pull-left">
                <img src="img/amazon.png" alt="Purchase A is for Array on Amazon" width="120" />
              </a>
              <div class="pull-right">
                 <div class="g-plusone"></div>
                <script type="text/javascript">
                (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
                </script>
                <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="codingwithmykids">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <div class="fb-like" data-href="https://www.facebook.com/aisforarray" data-layout="button_count" data-send="false" data-width="120" data-show-faces="false"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <aside class="col col-lg-4">
            <h4>Samples from the Book</h4>
            <img src="img/2.png" class="well" alt="L is for Loop" />
            <img src="img/3.png" class="well" alt="Loop Description" />
            <img src="img/4.png" class="well" alt="S is for Singleton" />
            <img src="img/5.png" class="well" alt="Singleton Description" />
            <img src="img/6.png" class="well" alt="Z is for Z-Index" />
            <img src="img/7.png" class="well" alt="Z-index Description" />
          </aside>
        </div>
      </div>
      
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39992348-1', 'aisforarray.com');
    ga('send', 'pageview');
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>