<div class="alert-block">
  <% if Date.today >= Date.strptime('06/09/2013', '%m/%d/%Y') %>
    <h5>Available for Purchase on:</h5>
    <a href="http://goo.gl/4bLE3">
      <img src="img/amazon.png" alt="Purchase A is for Array on Amazon" width="120" />
    </a>
  <% else %>
    <h5>
      Purchase today from:
      <a href="https://www.createspace.com/4291303">Create Space</a><br />
      <strong>Available from Amazon June 16, 2013.</strong>
    </h5>
  <% end %>
</div>