<p>First, and foremost, let me thank you for your interest in A is for Array, programming, and the future generations.</p>
<p>
A is for Array was written for my kids.  My kids, Autumn (3), Benjamin (1) and Clay (3 weeks) know that I am a programmer.  They see me write code almost every day.  They have taken interest in my work.  They often ask if they can write code.
</p>
<p>
This book is written to help get them there, but it in itself is just a tiny introduction to the magic.  My goal is that it will get them interested enough and lead them to more advanced resources.
</p>