<div ng-controller="LayoutCtrl">
  <header ng-style="image">
    <div class="row-fluid">

      <div class="span2">
        <div id="sidebar-nav">
          <div class="row-fluid">
            <a href="#/home"><img src="img/bethel-logo.png" width="161" height="50" alt="Bethel Logo" id="top-logo"></a>
          </div>
          <nav id="about-bethel-media">
            <ul>
              <li><a href="#/home" ng-class="{active: onPage('home')}">Who is Bethel Media</a></li>
            </ul>
          </nav>
          <nav>
            <p><strong>Now Hiring</strong></p>
            <ul ng-controller="CareersCtrl">
              <li ng-repeat="position in staff.openings">
                <a href="#/careers/{{position.slug}}" ng-class="{active: onPage('careers/' + position.slug)}" ng-style="getNavStyle(position)" ng-mouseenter="setActive(position)" ng-mouseleave="setInactive(position)">
                  {{ position.name }}
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="span10">
        <h1 ng-bind-html="name | lettering" id="position-name"></h1>
      </div>

    </div>
  </header>
</div>